.FindAddress {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(100, 100, 100, 1);

  .searchedResult {
    width: 40%;
    height: 30%;
    background-color: white;
  }
}
