@import 'Styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Hurricane&family=Ubuntu&display=swap');

.RecoProductList {
  @include flexColumn;
  align-items: center;
  font-family: 'Didact Gothic', sans-serif;

  .list {
    display: flex;
    button {
      font-size: 30px;
    }
  }
}
