@import '../../Styles/variables.scss';

.wishList {
  height: 100%;

  .header {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titleContainer {
      position: absolute;
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .titleTxt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 20px;
        color: $color-white;
      }

      .share {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 1.3;
        color: $color-white;
      }

      .shareList {
        .listItem {
          .listBtn {
            .icon {
              display: flex;
              flex-direction: row;
              margin-right: 40px;
              margin-bottom: 20px;
              font-size: 40px;
              color: $color-white;
            }
          }
        }
      }

      .infoTxt {
        color: $color-white;
      }

      .signInTxt {
        a {
          color: $color-white;
        }
        color: $color-white;
      }
    }
  }

  .listSelect {
    .selectLayout {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 20px;

      .selectTheme {
        .themeTxt {
          font-size: 25px;

          .far {
            margin-left: 10px;
            transform: rotate(180deg);
          }
        }
      }

      .productNum {
        position: absolute;
        display: flex;
        width: 400px;
        right: 10px;
      }
    }

    .themeList {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 140px;

      a {
        img {
          width: 95px;
          height: 95px;
          margin: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
