@import '../../Styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.productList {
  font-family: 'Didact Gothic', sans-serif;

  .row {
    display: flex;
    margin: 0px 80px;
  }
}
