@import '../../../Styles/variables.scss';

.editModal {
  position: fixed;
  @include flexCenter;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;

  .modalBox {
    background-color: $color-white;
    height: 500px;
    width: 600px;
    padding: 30px;

    h2 {
      text-align: center;
    }

    main {
      display: flex;
      height: 300px;

      .imgContainer {
        @include flexColumn;
        align-items: center;
        margin-right: 10px;

        .mainImg {
          margin-bottom: 20px;
          width: 300px;
        }

        .thumnail {
          width: 60px;
          margin: 0 10px;
        }
      }

      .price {
        padding-bottom: 20px;
        border-bottom: $border-bottom;
      }
    }
  }
}
