@import '../../../../Styles/variables.scss';

.SearchItems {
  .divider {
    margin: 0 20px;
    padding-top: 20px;
    border-top: $border-bottom;
  }

  .productGrid {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
