@import '../../../../Styles/variables.scss';

.SearchItems {
  width: 80%;
  .divider {
    margin: 0 20px;
    padding-top: 20px;
    border-top: $border-bottom;
  }

  .productGrid {
    width: 1200px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }
}
