@import '../../Styles/variables.scss';

.myBag {
  font-family: 'Didact Gothic', sans-serif;

  .event {
    display: flex;

    .subEvent {
      height: 350px;
      width: 100%;

      &.left {
        display: flex;
        align-items: center;
        background-color: #96bde8;

        img {
          width: 250px;
          height: 200px;
          transform: translateX(-30px);
        }
      }

      &.right {
        position: relative;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        border-top: $border-bottom;
        border-bottom: $border-bottom;
        background-color: #fff;

        .leftBtn,
        .rightBtn {
          position: absolute;
          z-index: 10;
          background-color: $color-white;

          height: 100%;

          i {
            font-size: $font-large;
          }

          &:disabled {
            color: rgba(0, 0, 0, 0.2);
          }
        }

        .leftBtn {
          left: 0px;
          width: 80px;
        }

        .rightBtn {
          right: 0px;
          width: 110px;
        }
      }
    }
  }

  main {
    margin: 50px 120px;

    .title {
      margin-left: 100px;
      padding-bottom: 10px;
    }

    .contents {
      @include flexCenter;
      align-items: flex-start;
      width: 100%;

      transition: all ease 0.4s;

      .orderProducts {
        @include flexColumn;
        transition: all ease 0.4s;
      }
    }

    &.empty {
      @include flexCenter;
      flex-direction: column;

      i {
        font-size: 100px;
        margin-bottom: 50px;
      }

      h2 {
        margin-bottom: 30px;
      }

      .signIn {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .myBag {
    .event {
      .subEvent {
        &.right {
          h2 {
            font-size: 20px;
          }

          .leftBtn,
          .rightBtn {
            width: 20px;
          }
        }
      }
    }

    main {
      margin: 30px;
      .contents {
        .orderProducts {
          width: 600px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .myBag {
    .event {
      .subEvent {
        &.left {
          p {
            font-size: $font-small;
          }

          img {
            width: 180px;
            height: 180px;
          }
        }
      }
    }

    main {
      margin: 20px;

      h2 {
        font-size: 20px;
      }

      .contents {
        .orderProducts {
          width: 500px;

          img {
            width: 120px;
          }
        }
      }
    }
  }
}
