@import '../../Styles/variables.scss';

.myBag {
  font-family: 'Didact Gothic', sans-serif;

  .event {
    display: flex;

    .subEvent {
      height: 350px;
      width: 100%;

      &.left {
        display: flex;
        align-items: center;
        background-color: #96bde8;

        img {
          width: 250px;
          height: 200px;
          transform: translateX(-30px);
        }
      }

      &.right {
        border-top: $border-bottom;
        border-bottom: $border-bottom;
      }
    }
  }

  main {
    margin: 50px 120px;

    .contents {
      display: flex;
      width: 100%;
      margin: 0;
      transition: all ease 0.4s;

      .orderProducts {
        @include flexColumn;
        transition: all ease 0.4s;
      }
    }
  }
}

@media (max-width: 1200px) {
  .myBag {
    main {
      margin: 30px;
      .contents {
        .orderProducts {
          width: 600px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .myBag {
    .event {
      .sub-event {
        &.left {
          h2 {
            font-size: 20px;
          }

          p {
            font-size: $font-small;
          }

          img {
            width: 180px;
            height: 180px;
          }
        }
      }
    }

    main {
      margin: 20px;

      h2 {
        font-size: 20px;
      }

      .contents {
        .orderProducts {
          width: 500px;
          img {
            width: 120px;
          }
        }
      }
    }
  }
}
