@import '../../../../../Styles/variables.scss';

.categoryName {
  margin: 10px 0 0 10px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: $font-medium;

  .categoryAttrContainer {
    @include flexColumn;
    padding: 10px 0;
    border-top: 1px solid #dbdbdb;

    li {
      @include flexCenter;
      height: 35px;

      input {
        zoom: 1.5;
      }
    }

    span {
      margin-left: 20px;
      width: 130px;
      height: 40px;
      line-height: 35px;
      font-size: $font-regular;
      color: $color-gray;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    span:hover {
      color: $color-blue;
    }
  }
}
