@import '../../Styles/variables.scss';

.product {
  position: relative;
  margin: 15px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;

  .heartBtn {
    position: absolute;
    right: 10px;
    top: -30px;
    color: $color-blue;
    font-size: 23px;
    opacity: 0;
    transition: all ease 0.4s;
  }

  &:hover .heartBtn {
    opacity: 1;
  }

  img {
    width: 250px;
    height: 250px;
  }

  h3 {
    transition: all ease 0.4s;
  }

  .price {
    font-size: 18px;
    color: $color-gray;
  }

  &.right {
    transform: translateX(-220%);
  }

  &.left {
    transform: translateX(220%);
  }

  &:hover h3 {
    color: $color-blue;
  }
}
