@import '../../../../Styles/variables.scss';

.titleWrapper {
  display: flex;
  align-items: center;

  .num {
    @include flexCenter;
    padding: 10px;
    font-size: $font-medium;
    color: white;
    background-color: $color-dark-blue;
  }

  h2::before {
    content: '';
    margin-right: 20px;
  }
}

.mainContainer {
  .wrapper {
    margin: 10px 0;

    .paymentOption {
      display: flex;
      align-items: center;

      input {
        margin: 10px;
        border: none;
        font-size: $font-regular;
      }
    }
  }
  .submitBtn {
    padding: 20px 0;
    color: white;
    background-color: $color-blue;
  }
}
