@import '../../../../Styles/variables.scss';

.categoryName {
  font-size: $font-medium;
  margin: 10px 0 0 10px;

  .categoryAttrContainer {
    @include flexColumn;

    li {
      @include flexCenter;

      input {
        zoom: 1.5;
      }
    }
    span {
      margin-left: 20px;
      font-size: $font-medium;
      width: 130px;
      height: 40px;
      color: $color-gray;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    span:hover {
      color: $color-blue;
    }
  }
}
