@import 'Styles/variables.scss';

.sorterBar {
  display: flex;
  justify-content: space-between;
  .productSubtotal {
    margin: 20px;
  }
  .priceSorter {
    margin: 20px;
  }
  .smallGray {
    font-size: $font-small;
    color: $color-gray;
    margin: 0 5px;
  }
}
