@import '../../../../Styles/variables.scss';

.sorterBar {
  display: flex;
  justify-content: space-between;
  margin: 0px 80px;

  .productSubtotal {
    margin: 20px;
  }

  .priceSorter {
    margin: 20px;
    cursor: pointer;
  }

  .smallGray {
    font-size: $font-small;
    color: $color-gray;
    margin: 0 5px;
  }
}
