@import '../../../Styles/variables.scss';

.girls {
  display: flex;

  .clothesType {
    margin-right: 50px;
    font-size: 20px;

    &:last-child {
      margin: 0;
    }

    .link:hover {
      color: $color-blue;
    }

    .fas {
      margin-right: 7px;
    }
  }
}
