@import '../../../../Styles/variables.scss';

.review {
  position: relative;
  @include flexColumn;
  width: 700px;
  font-family: 'Didact Gothic', sans-serif;

  .reviewBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px 15px;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 30px;
    font-size: 15px;
  }

  h2 {
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .reviewList {
    text-align: left;

    .loadingImg {
      position: absolute;
      width: 70px;
      height: 70px;
      right: 50%;
      top: 50%;
      transform: translate(-50%, 50%);
    }

    .reviewCard {
      position: relative;
      padding: 0 20px;
      margin: 20px 0;
      height: 100px;
      border-bottom: $border-bottom;

      .closeBtn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-decoration: underline;
      }

      .row {
        display: flex;

        .userId {
          font-size: 20px;
          margin-right: 20px;
        }

        .createdTime {
          color: $color-gray;
        }

        .contents {
          color: $color-gray;
        }
      }
    }
  }
}
