@import '../../Styles/variables.scss';
.girls {
  display: flex;

  .clothesType {
    margin-right: 40px;
    font-size: 20px;
    &:hover {
      color: $color-blue;
    }
    &:last-child {
      margin: 0;
    }
    .fas {
      margin-right: 7px;
    }
  }
}
