@import 'Styles/variables.scss';
@import 'Styles/common.scss';

@mixin Modal {
  position: absolute;
  @include flexCenter;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

@mixin modalForm {
  position: relative;
  width: 500px;
  padding-top: 50px;
  background-color: #fff;
}

@mixin modalContainer {
  @include flexColumn;
  align-items: center;
}

@mixin closeBtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 15px;
  font-weight: 800;
}

@mixin inputStyle {
  width: 380px;
  height: 50px;
  margin-bottom: 7px;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
}

@mixin buttonStyle {
  width: 380px;
  height: 50px;
  border: 1px solid $color-blue;
  background-color: $color-blue;
  border-radius: 4px;
  color: $color-white;
}

@mixin modalLink {
  display: flex;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  text-decoration: underline;
}

.LoginModal {
  @include Modal;

  .login {
    @include modalForm;
    height: 450px;

    .logo {
      text-align: center;
      color: $color-logo;
    }

    .closeBtn {
      @include closeBtn;
    }

    .loginContainer {
      @include modalContainer;

      input {
        @include inputStyle;
      }
      input::placeholder {
        color: $color-gray;
      }

      button {
        @include buttonStyle;
        margin-top: 7px;
      }
      button:hover {
        background-color: $color-dark-blue;
      }
    }

    .loginHelp {
      @include modalLink;
      justify-content: flex-end;
      align-items: center;
      margin-top: 15px;
      padding-right: 10px;
    }
    .createId {
      @include modalLink;
      justify-content: center;
      margin-top: 5px;
      font-size: 24px;
    }
  }
}
